#bootstrap-override #header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    display:block;
    height:92px;
    width:100%;
    border-bottom: 1px solid $barclays-grey-blue;
    margin:0;
    padding:0;
    background-color:#fff;

    .row {
        height: inherit;
    }

    .logo {
        position:absolute;
        top:30px;
        left:50px;
        width:178px;
        height:30px;
    }

    .user-profile {
        position: absolute;
        top:23px;
        right:50px;
        width:214px;
        height:44px;
    }

    .input-group {
        //max-width:80%;
        margin: 24px auto;

        .tt-input {
            width: 900px;
        }
        .tt-menu {
            background-color: #fff;
            padding: 20px;
            border: 1px solid $barclays-light-grey;
            margin-top:10px;
            border-radius: 8px;
        }
        .tt-suggestion {
            margin-bottom: 20px;
            width: 920px;
            display: block;

            &:hover {
                cursor:pointer;
                color: $barclays-button-blue;
            }
            &.tt-cursor {
                background-color: #efefef;
                color: $barclays-button-blue;
            }
        }
    }
}

#nav-primary {
    position:relative;
    display:block;
    width:100%;
    height:66px;
    margin:0;
    padding:0 20px;
    z-index:20;
    background-color: #fff;
    border-bottom: 1px solid $barclays-grey-blue;

    ul {
        height:inherit;

        li {
            height:inherit;
        }
    }

    .tab {
        display:block;
        text-align:center;
        line-height: 60px;
        height:inherit;
        color:#272727;
        text-decoration: none;

        &:hover {
            cursor:pointer;
            border-bottom: 2px solid $barclays-cyan;

            .label {
                color: $barclays-cyan;
                text-decoration: none;
            }
        }

        &.tab-selected {
            border-bottom:3px solid #00AEEF;
        }

        .label {
            font-size:16px;
            font-weight:100;
            font-family: "expert-sans-lighter";
            white-space:nowrap;
            color: $barclays-link-blue;

            &.active {
                color: $barclays-cyan;
            }

            
        }
    }
}

.mega-menu {
    position:absolute;
    display:none;
    top:158px;
    left:0;
    right:0;
    height:420px;
    border-top: 1px solid $barclays-grey-blue;
    border-bottom: 1px solid $barclays-grey-blue;
    padding-bottom:40px;
    z-index:10;
    background-color: #fff;

    .hub {
        width:100%;
        height:100%;
        padding: 20px;
        border-right: 1px solid $barclays-grey-blue;

        h1 {
            margin-top:0;
            margin-bottom: 18px;
        }

        p {
            margin-top:0;
            margin-bottom:18px;
        }
    }
}

.mega-menu-sub-menu {
    //margin-right:50px;
    margin-top:35px;

    // a {
    //     display:block;
    //     line-height: 28px;
    //     cursor:pointer;
    //     font-family: "Expert Sans", "Expert Sans Light", "Trebuchet MS", Arial, Verdana, sans-serif;
    // }

    li {
        
    }

    .heading {
        display:block;
        font-weight:bold;
        font-size:18px;
        color: $barclays-dark-blue !important;
        border-bottom: 1px solid $barclays-grey-blue;
        padding-bottom: 10px;
        //margin-bottom: 20px;

        &:hover {

        }
    }

    .link {
        color: $barclays-button-blue;
        //font-size:14px;
        line-height: 20px;
        padding: 10px 5px;
        display: block;

        &:hover {
            color:#00AEEF;
            background-color: $barclays-light-blue;
            text-decoration: none;
            cursor: pointer;
        }
    }
}