$barclays-link-blue: #00395D;
$barclays-button-blue: #0076B6;
$barclays-cyan: #33A9E9;
$barclays-light-blue: #F2F8FB;
$barclays-grey-blue: #BFDDED;
$barclays-dark-blue: #00395D;
$barclays-light-grey: #EDEDED;
$barclays-card-grey: #F7F7F7;
$barclays-light-blue: #F2FBFE;
$barclays-grey: #F2F5F7;