body {
	margin: 0;
	padding: 0;
	position: relative;
	background-color: #fff;
	width: 100%;
	height: 100%;
}

.slate {
	width: 100%;
	border-bottom: 1px solid #efefef;
}

.wrapper {
	width: 100%;
	max-width: 960px;
	padding: 20px 10px;
	margin:0 auto;
}
.wrapper-small {
	max-width: 480px;
}
.center {
	text-align: center;
}
.bg-grey {
	background-color: #efefef;
}
blockquote {
	font-style: italic;
	text-align: center;
	font-family: 'Roboto Slab', serif;
}
.testimonial ul {
	margin:0 auto;
}
.hero {
	width: 100%;
	border-bottom: 1px solid #efefef;
	min-height: 360px;
	max-height: 360px;
	overflow: hidden;
	padding-top: 80px;
	background-color: #48c9ed;
}

.hero h1 {
	font-size: 3em;
	color: #fff;
}
.hero h2 {
	font-size: 1.5em;
	color: #fff;
}

h1, h2, h3, h4, h5, h6,  {
	font-family: 'Roboto', sans-serif;
}
p {
	font-size: 0.8em;
	font-weight: 300;
	line-height: 150%;
	padding-right: 20px;
}

.nav {
	position: absolute;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:50px;
	width: 960px;
	margin:0 auto;
	padding:0;
}
.logo {
	position: absolute;
	top: 10px;
	left: 10px;
}
.avatar {
	text-align:right;
	margin-right:10px;
}